{% extends "extend-contents/productdetails.html"%}


{% load static %}

{% csrf_token %}

{% for product in products %}

{%block img%}

<img class="image" src="/static/row_one_col_one.jpg" alt="" style="height: 1000px;">

{% endblock img %}


{% block brand %}
<p class="text-left mb-250px head" >RMsuits</p>
{% endblock brand %}

{% block head %}
<h2 class="mb-200px desc"  style="font-weight: bolder; font-size: 40px; margin-bottom: 30px;">Dark linen Grey Suit</h2>
{% endblock head %}

{% block price %}
<span class="suit_price" style="margin-top: 200px; font-size: 20px;">$199</span>
{% endblock price %}


{% endfor %}

