<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Blazers_stat/blazers_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="content">
        <div class="fluid-container slider static image-header about nomargin">
        <div class="row">
        <picture class="fit-content">
        <source srcset="/assets/images//about/fw20/hero_m@1x.jpg?202012100 1x, /assets/images//about/fw20/hero_m@2x.jpg?202012100 2x" media="(max-width: 768px)">
        <source srcset="/assets/images//about/fw20/hero_d@1x.jpg?202012100 1x, /assets/images//about/fw20/hero_d@2x.jpg?202012100 2x" media="(max-width: 1024px)">
        <img srcset="/assets/images//about/fw20/hero_d@1x.jpg?202012100 1x, /assets/images//about/fw20/hero_d@2x.jpg?202012100 2x" alt="">
        </picture>
        <div class="content container white">
        <h1 class=""></h1>
        <h5></h5>
        </div>
        </div>
        </div><div class="row nopad">
        <div class="col-sm-12 pad">
        <div class="page-content-header-block">
        <h3 class="header-text">REMAKING AN INDUSTRY</h3>
        <p class="subheader-text">MAKE MEN BETTER TOMORROW THAN THEY ARE TODAY.</p>
        <p>This is the principle that guides us all at Knot Standard. To create custom clothing that builds on a
        man’s inner
        greatness; to shine an exceptionally fitting light on who he already is: Driven, ambitious, constantly
        striving
        for improvement.</p>
        <p>Our clothing doesn’t hide who you are--it embraces and amplifies it. It is made for the best of you. Made
        to
        elevate your standard. And like you, it is one of a kind.</p>
        <a href="/services/" class="btn auto-width white-bg with-icon-right">
        MAKE YOURSELF
        <svg width="8" height="13" viewBox="0 0 8 13">
        
        <path d="M.295 2.115l4.58 4.59-4.58 4.59 1.41 1.41 6-6-6-6z" fill-rule="nonzero" fill="none"></path></svg>
        </a>
        </div>
        </div>
        </div>
        <div class="pic-content-box">
        <div class="row nopad">
        <div class="col-lg-6 nopad">
        <div class="d-none d-lg-block">
        <img class="img-responsive" src="/assets/images/about/fw20/2.jpg?202012100" alt="">
        </div>
        <div class="d-md-block d-lg-none">
        <img class="img-responsive" src="/assets/images/about/fw20/2.jpg?202012100" alt="">
        </div>
        </div>
        <div class="col-lg-6 pad">
        <div class="content left">
        <p class="subheader-text">BUILDING A NEW STANDARD</p>
        <p>Much of the menswear industry has come to settle on a standard that is mediocre. Fast, cheaply
        constructed clothing that fits poorly, has short lifespans, and lacks personality.</p>
        <p>We do not accept those standards.</p>
        <p>We believe that every man should look his best at all times, wearing clothing that is custom-made for
        him alone. Clothing made to superior standards, with the finest and most versatile fabrics
        available, utilizing cutting-edge technology and unparalleled skill at every turn.</p>
        <p>That is our standard.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="pic-content-box">
        <div class="row nopad">
        <div class="col-lg-6 nopad">
        <div class="d-none d-lg-block">
        <img class="img-responsive" src="/assets/images/about/fw20/4.jpg?202012100" alt="">
        </div>
        <div class="d-md-block d-lg-none">
        <img class="img-responsive" src="/assets/images/about/fw20/4.jpg?202012100" alt="">
        </div>
        </div>
        <div class="col-lg-6 pad">
        <div class="content left">
        <p class="subheader-text">THE STORY OF THE KNOT</p>
        <p>Without realizing it, knots are almost everywhere we look--especially when we look at clothing. From
        the fibers themselves to the way a garment is woven or knitted, we wear knots constantly. They are
        symbols of unity, strength, complexity. The knot in our logo has tremendous importance to us,
        representing the collaborative process between stylist and client, but also the way our clothing is
        made--utilizing both the human touch and precise technology at every step. To tie a knot properly,
        you must intricately understand the material being knotted--just as we know every detail of the
        fabrics we use, and the construction process we have created and constantly improve. Our knot
        represents all the things that bind us together.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="pic-content-box">
        <div class="row nopad">
        <div class="col-lg-6 nopad">
        <div class="d-none d-lg-block">
        <img class="img-responsive" src="/assets/images/about/fw20/6.jpg?202012100" alt="">
        </div>
        <div class="d-md-block d-lg-none">
        <img class="img-responsive" src="/assets/images/about/fw20/6.jpg?202012100" alt="">
        </div>
        </div>
        <div class="col-lg-6 pad">
        <div class="content left">
        <p class="subheader-text">FOUNDED ON CUSTOM</p>
        <p>John Ballay and Matt Mueller founded Knot Standard in 2012, after meeting as young expats in Dubai.
        They were both inspired by the bespoke clothing so readily available in the region, and felt that
        men back home deserved the same level of attention, quality, and customization. They created Knot
        Standard to unite their shared interests--custom menswear, technology paired with human ingenuity,
        upending the prevailing standards of fashion. With the overriding belief that a man’s style should
        be as individual as he is, they continue to push Knot Standard forward.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="pic-content-box">
        <div class="row nopad">
        <div class="col-12 col-lg-6 nopad">
        <img class="img-responsive" src="/assets/images/about/fw20/8.jpg?202012100" alt="">
        </div>
        <div class="col-12 col-lg-6 pad">
        <div class="content left">
        <p class="subheader-text">OUR CULTURE</p>
        <p>Resourceful. Innovative. Talented. These are the principles we’ve carried with us as we have grown into the leading custom menswear brand. But our real edge is our people--passionate, motivated, and supportive. We thrive on a culture of collaboration and diversity at Knot Standard, and everyone here is working to achieve the same goal: make men better tomorrow than they are today.</p>
        <p>We take a lot of pride in the hard work that we do, celebrate our achievements throughout every showroom, and have a people-first state of mind. Because even though our clothing is the final product, it is our people who make it all happen.</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"    
        ></script>
</body>
</html>