<!DOCTYPE html>
{% extends "extend-contents/navBar.html"%}
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirts</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/shirts_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <!-- section page-desc -->
    <div class="content-wrapper">
        <div class="content">
            <div class="fluid-container static slider product-list-header">
                <div class="row">
                    <div class="d-md-block d-sm-none" style="height: 900px;">
                        <video src="https://player.vimeo.com/external/458315240.sd.mp4?s=538eb11ca2d882206ccb83a293c1554322730ec3&amp;profile_id=165" width="100%" height="70%" autoplay="" loop="" webkit-playsinline="" playsinline="" muted="" preload="metadata" type="video/mp4" class="responsive-video"></video>
                    </div>
                    <div class="d-md-none d-lg-none d-sm-block" style="width: 100%; max-height: 500px;">
                        <video src="https://player.vimeo.com/external/458315240.hd.mp4?s=d4b9b5504720b114a7203253610aa56c66fdb54e&amp;profile_id=174"  width="100%" height="100%" autoplay="" loop="" webkit-playsinline="" playsinline="" muted="" preload="metadata" type="video/mp4" class="responsive-video"></video>
                        </div>
                        <div class="d-sm-block d-md-none">
                            <div class="content-head container white">
                                <h1 style="font-size: 50px; font-weight: bolder; font-family: Antonio ;">SHIRTS</h1>
                            </div>
                        </div>
                        <div class="d-sm-none d-md-block ">
                            <div class="content-head_desktop container white">
                                <h1 style="font-size: 100px; font-weight: bold; font-family: Antonio ;">SHIRTS</h1>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>


    <!-- products -->
    <div class="product-list-page-sub no-filters">
        <div class="mt-20">&nbsp;</div>
        <div class="container destination list">
        <div class="row grid"></div>
        </div>
        <div class="container target list">
        <h2>NEW FOR SUMMER</h2>
        <div class="row grid">
        <div class="burn1 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini seersucker surf camp collar shirt ">
        <a href="/shirts/canclini-seersucker-surf-camp-collar-shirt/">
        <img src="/static/Shirts_images/Row1_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-seersucker-surf-camp-collar-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Seersucker Surf Camp Collar Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn2 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini striped seersucker camp collar shirt ">
        <a href="/shirts/canclini-striped-seersucker-camp-collar-shirt/">
        <img src="/static/Shirts_images/Row1_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-striped-seersucker-camp-collar-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Striped Seersucker Camp Collar Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn3 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini blue multi striped seersucker shirt ">
        <a href="/shirts/canclini-blue-multi-striped-seersucker-shirt/">
        <img src="/static/Shirts_images/Row1_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-blue-multi-striped-seersucker-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Blue Multi Striped Seersucker Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn4 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini blue lemon summer shirt ">
        <a href="/shirts/canclini-blue-lemon-summer-shirt/">
        <img src="/static/Shirts_images/Row1_col4.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-blue-lemon-summer-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Blue Lemon Summer Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn5 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini blue shades striped summer shirt ">
        <a href="/shirts/canclini-blue-shades-striped-summer-shirt/">
        <img src="/static/Shirts_images/Row2_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-blue-shades-striped-summer-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Blue Shades Striped Summer Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn6 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini dark moss linen shirt ">
        <a href="/shirts/canclini-dark-moss-linen-shirt/">
        <img src="/static/Shirts_images/Row2_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-dark-moss-linen-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Dark Moss Linen Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn7 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini white summer shirt ">
        <a href="/shirts/canclini-white-summer-shirt/">
        <img src="/static/Shirts_images/Row2_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-white-summer-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">White Summer Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn8 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini blue gingham shirt ">
        <a href="/shirts/canclini-blue-gingham-shirt/">
        <img src="/static/Shirts_images/Row2_col4.webp" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-blue-gingham-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Blue Gingham Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn9 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard grey bengal striped performance shirt ">
        <a href="/shirts/knot-standard-grey-bengal-striped-performance-shirt/">
        <img src="/static/Shirts_images/Row3_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-grey-bengal-striped-performance-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Grey Bengal Striped Performance Shirt</span>
        <span class="price">$195</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn10 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item canclini natural linen shirt ">
        <a href="/shirts/canclini-natural-linen-shirt/">
        <img src="/static/Shirts_images/Row3_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/canclini-natural-linen-shirt/" class="no-touch details">
        <span class="brand ">Canclini</span>
        <span class="model ">Natural Linen Shirt</span>
        <span class="price">$275</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn11 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard grey puppytooth performance shirt ">
        <a href="/shirts/knot-standard-grey-puppytooth-performance-shirt/">
        <img src="/static/Shirts_images/Row3_col4.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-grey-puppytooth-performance-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Grey Puppytooth Performance Shirt</span>
        <span class="price">$195</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn12 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item solbiati green &amp; white striped linen shirt ">
        <a href="/shirts/solbiati-green-and-white-striped-linen-shirt/">
        <img src="/static/Shirts_images/Row3_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/solbiati-green-and-white-striped-linen-shirt/" class="no-touch details">
        <span class="brand ">Solbiati</span>
        <span class="model ">Green &amp; White Striped Linen Shirt</span>
        <span class="price">$295</span>
        </a>
        
        </div>
        </div>
        </div>
     

        <br>
        <br>
        <div class="container target list">
            <br>
            <br>
        <h2>TRANSITIONAL STYLES</h2>
        <br>
        <br>
        <div class="row grid">
        <div class="burn35 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard grey &amp; white dress shirt ">
        <a href="/shirts/knot-standard-grey-and-white-dress-shirt/">
        <img src="/static/Shirts_images/Row4_col1.jpg"  class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-grey-and-white-dress-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Grey &amp; White Dress Shirt</span>
        <span class="price">$225</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn36 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard light blue poplin dress shirt ">
        <a href="/shirts/knot-standard-light-blue-poplin-dress-shirt/">
        <img src="/static/Shirts_images/Row4_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-light-blue-poplin-dress-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Light Blue Poplin Dress Shirt</span>
        <span class="price">$175</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn37 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard brown &amp; white dress shirt ">
        <a href="/shirts/knot-standard-brown-and-white-dress-shirt/">
        <img src="/static/Shirts_images/Row4_col3.webp" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-brown-and-white-dress-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Brown &amp; White Dress Shirt</span>
        <span class="price">$225</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn38 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard thick grey &amp; white striped dress shirt ">
        <a href="/shirts/knot-standard-thick-grey-and-white-striped-dress-shirt/">
        <img src="/static/Shirts_images/Row4_col4.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-thick-grey-and-white-striped-dress-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Thick Grey &amp; White Striped Dress Shirt</span>
        <span class="price">$225</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn39 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard brushed grey houndstooth shirt ">
        <a href="/shirts/knot-standard-brushed-grey-houndstooth-shirt/">
        <img src="/static/Shirts_images/Row5_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-brushed-grey-houndstooth-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Brushed Grey Houndstooth Shirt</span>
        <span class="price">$225</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn40 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard brushed cedar herringbone shirt ">
        <a href="/shirts/knot-standard-brushed-cedar-herringbone-shirt/">
        <img src="/static/Shirts_images/Row5_col2.webp" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-brushed-cedar-herringbone-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Brushed Cedar Herringbone Shirt</span>
        <span class="price">$225</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn41 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard white and navy striped dress shirt ">
        <a href="/shirts/knot-standard-white-and-navy-striped-dress-shirt/">
        <img src="/static/Shirts_images/Row5_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-white-and-navy-striped-dress-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">White and Navy Striped Dress Shirt</span>
        <span class="price">$175</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn42 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item albini midnight striped stretch dress shirt ">
        <a href="/shirts/albini-midnight-striped-stretch-dress-shirt/">
        <img src="/static/Shirts_images/Row5_col4.jpg"  class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/albini-midnight-striped-stretch-dress-shirt/" class="no-touch details">
        <span class="brand ">Albini</span>
        <span class="model ">Midnight Striped Stretch Dress Shirt</span>
        <span class="price">$295</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn43 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard white active performance polo ">
        <a href="/performance-layers/knot-standard-white-active-performance-polo/">
        <img src="/static/Shirts_images/Row6_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/performance-layers/knot-standard-white-active-performance-polo/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">White Active Performance Polo</span>
        <span class="price">$115</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn44 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard pine green active performance polo ">
        <a href="/performance-layers/knot-standard-pine-green-active-performance-polo/">
        <img src="/static/Shirts_images/Row6_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/performance-layers/knot-standard-pine-green-active-performance-polo/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Pine Green Active Performance Polo</span>
        <span class="price">$115</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn45 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item shirt ">
        <a href="/performance-layers/knot-standard-black-everyday-t-shirt/">
        <img src="/static/Shirts_images/Row6_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/performance-layers/knot-standard-black-everyday-t-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Black Everyday T-Shirt</span>
        <span class="price">$75</span>
        </a>
        </div>
        </div>
        </div>
<br>
<br>

        <div class="container target list">
            <br>
            <br>
        <h2>DENIM SHIRTING</h2>
        <div class="row grid">
        <div class="burn142 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard ice washed denim shirt ">
        <a href="/shirts/knot-standard-ice-washed-denim-shirt/">
        <img src="/static/Shirts_images/Row7_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-ice-washed-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Ice Washed Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn143 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard dark washed denim shirt ">
        <a href="/shirts/knot-standard-dark-washed-denim-shirt/">
        <img src="/static/Shirts_images/Row7_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-dark-washed-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Dark Washed Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn144 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard light washed denim shirt ">
        <a href="/shirts/knot-standard-light-washed-denim-shirt/">
        <img src="/static/Shirts_images/Row7_col3.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-light-washed-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Light Washed Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn145 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard hunter washed denim shirt ">
        <a href="/shirts/knot-standard-hunter-washed-denim-shirt/">
         <img src="/static/Shirts_images/Row7_col4.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-hunter-washed-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Hunter Washed Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn146 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item knotstandard blue oxford denim shirt ">
        <a href="/shirts/knot-standard-blue-oxford-denim-shirt/">
        <img src="/static/Shirts_images/row8_col1.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/knot-standard-blue-oxford-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Blue Oxford Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        
        </div>
        </div>
        </div>
        <div class="burn147 grid-item col-6 col-sm-4 col-md-4 col-xl-3">
        <div class="product-item play summer weights blues blue solid play travel thomasmason ">
        <a href="/shirts/Knot-standard-blue-denim-shirt/">
        <img src="/static/Shirts_images/Row8_col2.jpg" class="product-img" loading="lazy" alt="…">
        </a>
        <div class="tag text-center">
        <a href="/shirts/Knot-standard-blue-denim-shirt/" class="no-touch details">
        <span class="brand ">Knot Standard</span>
        <span class="model ">Blue Denim Shirt</span>
        <span class="price">$375</span>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <br>
    
{% endblock content %}


    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"    
    ></script>
</body>
</html>