.desc-img{
    width: 100%;
}
.product-img{
    width: 100%;
}

.brand{
    color: black;
    display: block;
    text-decoration: none !important;
}
.model{
    color: black;
    display: block;
    text-decoration: none;
}

