body{
    height: 100vh;
    width: auto;
}
.container-wrap{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: auto;
    margin-top: 200px;
    margin-left: 850px;
}
.modals{
    margin-left: 350px;
}

.modals h3{
    font-size: 45px;
    margin-bottom: 80px;
}
.form-row{
    font-size: 25px;
}
.form-row label{
    display: block;
}
.form-row input{
    font-size: 20px;
    height: 50px;
    width: 400px;
    border: 0.5px solid;
}