.suitimg1{
    width: 100%;
    height: 100%;
    position: relative;
/* position: relative; */
}

.image-head{
    display: block;
}
.content{
    color: white;
    
}


.content h1{
    font-size: 60px;
    font-family: "playfairDisplay";
    padding-bottom: 30px;
}

.product-img{
    width: 100%;
}

.brand{
    display: block;
    color: black;
}
.model{
    display: block;
    color: black;
}

