<!DOCTYPE html>
{% extends "extend-contents/navbar.html"%}
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blazers</title>
    {% load static %}
    <link rel="stylesheet" href="/static/Blazers_stat/blazers_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <!-- decription-section -->
    <div class="content-wrap">
        <div class="content">
            <div class="fluid-container">
                <div class="row">
                    <picture class="fit-content">
                        <img src="/static/Blazers_stat/cocktail_header_desktop.jpg" alt="" class="d-none d-lg-block" style="width: 100%; padding-top: 130px;">
                        <img src="/static/Blazers_stat/cocktail_header_mobile.jpg" alt="" class="d-lg-none d-md-block">
                    </picture>
                    <div class="d-lg-block d-none">
                        <div class="content text-left" style="
                            position: absolute;
                             z-index: 1000;
                              top: 330px; 
                             left:250px;
                             color: white;">
                            <h1 style="font-size: 100px; font-family: playfairDisplay;">Blazers</h1>
                            <div class="title-spacer"></div>

                        </div>
                    </div>
                    <!-- end-description-section -->

<!-- products-section -->
<div class="product-list-page-sub no-filters">
    <div class="mt-20">&nbsp;</div>
    <div class="container destination list">
    <div class="row grid"></div>
    </div>
    <div class="container target list">
    <h2>NEW FOR SUMMER</h2>
    <div class="row grid">
    <div class="burn1 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard nantucket red summer blazer ">
    <a href="/blazers/knot-standard-nantucket-red-summer-blazer/">
    <img src="/static/Blazers_stat/Row1_col1.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-nantucket-red-summer-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Nantucket Red Summer Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn2 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard slate herringbone summer blazer ">
    <a href="/knit-jackets/knot-standard-slate-herringbone-summer-blazer/">
    <img src="/static/Blazers_stat/Row1_col2.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/static/Blazers_stat/Row1_col3.webp" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Slate Herringbone Summer Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn3 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard navy summer blazer ">
    <a href="/knit-jackets/knot-standard-navy-summer-blazer/">
    <img src="/static/Blazers_stat/Row1_col3.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/knot-standard-navy-summer-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Navy Summer Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn4 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard steel checked summer blazer ">
    <a href="/blazers/knot-standard-steel-checked-summer-blazer/">
    <img src="/static/Blazers_stat/Row1_col4.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-steel-checked-summer-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Steel Checked Summer Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn5 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard formal navy blazer ">
    <a href="/blazers/knot-standard-formal-navy-blazer/">
    <img src="/static/Blazers_stat/Row2_Col1.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-formal-navy-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Formal Navy Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn6 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard summer blue herringbone blazer ">
    <a href="/knit-jackets/knot-standard-summer-blue-herringbone-blazer/">
    <img src="/static/Blazers_stat/Row2_col2.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/knot-standard-summer-blue-herringbone-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Summer Blue Herringbone Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn7 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard heathered dove summer blazer ">
    <a href="/blazers/knot-standard-heathered-dove-summer-blazer/">
    <img src="/static/Blazers_stat/Row2_col3.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-heathered-dove-summer-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Heathered Dove Summer Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn8 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard navy summer striped linen blazer ">
    <a href="/knit-jackets/knot-standard-navy-summer-striped-linen-blazer/">
    <img src="/static/Blazers_stat/Row2_col4.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/knot-standard-navy-summer-striped-linen-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Navy Summer Striped Linen Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn9 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard beige &amp; blue glenplaid blazer ">
    <a href="/knit-jackets/knot-standard-beige-and-blue-glenplaid-blazer/">
    <img src="/static/Blazers_stat/Row3_col1.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/knot-standard-beige-and-blue-glenplaid-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Beige &amp; Blue Glenplaid Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn10 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item loropiana navy &amp; green glenplaid natural stretch blazer ">
    <a href="/blazers/loro-piana-navy-and-green-glenplaid-natural-stretch-blazer/">
    <img src="/static/Blazers_stat/Row3_col2.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/loro-piana-navy-and-green-glenplaid-natural-stretch-blazer/" class="no-touch details">
    <span class="brand ">Fabric by Loro Piana</span>
    <span class="model ">Navy &amp; Green Glenplaid Natural Stretch Blazer</span>
    <span class="price">$1,495</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn11 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item biella turquoise unconstructed blazer ">
    <a href="/knit-jackets/biella-turquoise-unconstructed-blazer/">
    <img src="/static/Blazers_stat/Row3_col3.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/biella-turquoise-unconstructed-blazer/" class="no-touch details">
    <span class="brand ">Biella</span>
    <span class="model ">Turquoise Unconstructed Blazer</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn12 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item loropiana ecru hopsack natural stretch blazer ">
    <a href="/knit-jackets/loro-piana-ecru-hopsack-natural-stretch-blazer/">
    <img src="/static/Blazers_stat/Row3_col4.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/loro-piana-ecru-hopsack-natural-stretch-blazer/" class="no-touch details">
    <span class="brand ">Fabric by Loro Piana</span>
    <span class="model ">Ecru Hopsack Natural Stretch Blazer</span>
    <span class="price">$1,495</span>
    </a>
  
    
    </div>
    </div>
    </div>
    <div class="burn21 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item loropiana beige &amp; blue glenplaid natural stretch blazer ">
    <a href="/blazers/loro-piana-beige-and-blue-glenplaid-natural-stretch-blazer/">
    <img src="/static/Blazers_stat/Row4_col1.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/loro-piana-beige-and-blue-glenplaid-natural-stretch-blazer/" class="no-touch details">
    <span class="brand ">Fabric by Loro Piana</span>
    <span class="model ">Beige &amp; Blue Glenplaid Natural Stretch Blazer</span>
    <span class="price">$1,495</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn22 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item biella brown plaid blazer ">
    <a href="/blazers/biella-brown-plaid-blazer/">
    <img src="/static/Blazers_stat/Row4_col2.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/biella-brown-plaid-blazer/" class="no-touch details">
    <span class="brand ">Biella</span>
    <span class="model ">Brown Plaid Blazer</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <br>

    <!-- traditional styles -->
    <div class="container target list">
    <h2>TRANSITIONAL STYLES</h2>
    <div class="row grid">
    <div class="burn23 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item dormeuil steel plaid blazer ">
    <a href="/knit-jackets/dormeuil-steel-plaid-blazer/">
    <img src="/static/Blazers_stat/Row5_col1.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/dormeuil-steel-plaid-blazer/" class="no-touch details">
    <span class="brand ">Dormeuil</span>
    <span class="model ">Steel Plaid Blazer</span>
    <span class="price">$1,295</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn24 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item dormeuil charcoal glen plaid blazer ">
    <a href="/knit-jackets/dormeuil-charcoal-glenplaid-blazer/">
    <img src="/static/Blazers_stat/Row5_col2.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/dormeuil-charcoal-glenplaid-blazer/" class="no-touch details">
    <span class="brand ">Dormeuil</span>
    <span class="model ">Charcoal Glen Plaid Blazer</span>
    <span class="price">$1,295</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn25 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item dormeuil petrol boucle blazer ">
    <a href="/knit-jackets/dormeuil-petrol-boucle-blazer/">
    <img src="/static/Blazers_stat/Row5_col3.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/knit-jackets/dormeuil-petrol-boucle-blazer/" class="no-touch details">
    <span class="brand ">Dormeuil</span>
    <span class="model ">Petrol Boucle Blazer</span>
    <span class="price">$1,295</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn26 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard classic brown plaid blazer ">
    <a href="/blazers/knot-standard-classic-brown-plaid-blazer/">
    <img src="/static/Blazers_stat/Row5_col4.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-classic-brown-plaid-blazer/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Classic Brown Plaid Blazer</span>
    <span class="price">$795</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn27 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item play summer weights naturals naturals warm solid textures play reda ">
    <a href="/blazers/reda-dark-brown-blazer/">
    <img src="/static/Blazers_stat/Row6_col1.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/reda-dark-brown-blazer/" class="no-touch details">
    <span class="brand ">Reda</span>
    <span class="model ">Dark Brown Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn28 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item blue all textures play reda ">
    <a href="/blazers/reda-navy-hopsack-blazer/">
    <img src="/static/Blazers_stat/Row6_col2.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/reda-navy-hopsack-blazer/" class="no-touch details">
    <span class="brand ">Reda</span>
    <span class="model ">Navy Hopsack Blazer</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn29 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item play summer weights blues blue warm solid textures play signature ">
    <a href="/blazers/signature-azure-blue-jacket/">
    <img src="/static/Blazers_stat/Row6_col3.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/signature-azure-blue-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Azure Blue Jacket</span>
    <span class="price">$595</span>
    </a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <br>

    <!-- Performance Blazers -->

    <div class="container target list">
    <h2>PERFORMANCE BLAZERS</h2>
    <div class="row grid">
    <div class="burn30 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard steel blue everyday performance jacket ">
    <a href="/outerwear/knot-standard-steel-blue-everyday-performance-jacket/">
    <img src="/static/Blazers_stat/Row7_col1.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/knot-standard-steel-blue-everyday-performance-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Steel Blue Everyday Performance Jacket</span>
    <span class="price">$595</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn31 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard navy everyday performance jacket ">
    <a href="/outerwear/knot-standard-navy-everyday-performance-jacket/">
    <img src="/static/Blazers_stat/Row7_col2.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/knot-standard-navy-everyday-performance-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Navy Everyday Performance Jacket</span>
    <span class="price">$595</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn32 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard light blue everyday performance jacket ">
    <a href="/outerwear/knot-standard-light-blue-everyday-performance-jacket/">
    <img src="/static/Blazers_stat/Row7_col3.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/knot-standard-light-blue-everyday-performance-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Light Blue Everyday Performance Jacket</span>
    <span class="price">$595</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn33 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item drago grey travel jacket ">
    <a href="/outerwear/drago-grey-travel-jacket/">
    <img src="/static/Blazers_stat/Row7_col4.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/drago-grey-travel-jacket/" class="no-touch details">
    <span class="brand ">Drago</span>
    <span class="model ">Grey Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn34 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item travel year round wear naturals naturals warm all solid textures play travel drago
                                                                         ">
    <a href="/outerwear/knot-standard-chocolate-travel-jacket/">
    <img src="/static/Blazers_stat/Row8_col1.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/knot-standard-chocolate-travel-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Chocolate Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn35 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item drago olive travel jacket ">
    <a href="/outerwear/drago-olive-travel-jacket/">
    <img src="/static/Blazers_stat/Row8_col2.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/drago-olive-travel-jacket/" class="no-touch details">
    <span class="brand ">Drago</span>
    <span class="model ">Olive Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn36 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item blue all solid travel signature ">
    <a href="/outerwear/navy-travel-jacket/">
    <img src="/static/Blazers_stat/Row8_col3.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/navy-travel-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Navy Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn37 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item blue all solid travel signature ">
    <a href="/outerwear/blue-travel-jacket/">
    <img src="/static/Blazers_stat/Row8_col4.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/blue-travel-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Blue Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn38 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item blue all solid travel signature ">
    <a href="/outerwear/dark-blue-travel-jacket/">
    <img src="/static/Blazers_stat/Row9_col1.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/outerwear/dark-blue-travel-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Dark Blue Travel Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <br>

    <!-- Formal-Blazers  -->

    <div class="container target list">
    <h2>FORMAL BLAZERS</h2>
    <div class="row grid">
    <div class="burn39 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard ivory swoop dinner jacket ">
    <a href="/blazers/knot-standard-ivory-swoop-dinner-jacket/">
    <img src="/static/Blazers_stat/Row10_col1.webp"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-ivory-swoop-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Ivory Swoop Dinner Jacket</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn40 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard midnight velvet dinner jacket ">
    <a href="/blazers/knot-standard-midnight-velvet-dinner-jacket/">
    <img src="/static/Blazers_stat/Row10_col2.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-midnight-velvet-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Midnight Velvet Dinner Jacket</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn41 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard sky jacquard dinner jacket ">
    <a href="/blazers/knot-standard-sky-jacquard-dinner-jacket/">
    <img src="/static/Blazers_stat/Row10_col3.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-sky-jacquard-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Sky Jacquard Dinner Jacket</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn42 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard forest velvet dinner jacket ">
    <a href="/blazers/knot-standard-forest-velvet-dinner-jacket/">
    <img src="/static/Blazers_stat/Row10_col4.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-forest-velvet-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Forest Velvet Dinner Jacket</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn43 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard steel jacquard dinner jacket ">
    <a href="/blazers/knot-standard-steel-jacquard-dinner-jacket/">
    <img src="/static/Blazers_stat/Row11_col1.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-steel-jacquard-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Steel Jacquard Dinner Jacket</span>
    <span class="price">$895</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn44 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item knotstandard mustard velvet dinner jacket   ">
    <a href="/blazers/knot-standard-mustard-velvet-dinner-jacket/">
    <img src="/static/Blazers_stat/Row11_col2.jpg"  class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-mustard-velvet-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Mustard Velvet Dinner Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn45 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item  azure blue ">
    <a href="/blazers/knot-standard-velvet-dinner-jacket--azure-blue/">
    <img src="/static/Blazers_stat/Row11_col3.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/knot-standard-velvet-dinner-jacket--azure-blue/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Velvet Dinner Jacket - Azure Blue</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn46 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item naturals all solid play zegna ">
    <a href="/blazers/zegna-white-dinner-jacket/">
    <img src="/static/Blazers_stat/Row11_col4.jpg" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/zegna-white-dinner-jacket/" class="no-touch details">
    <span class="brand ">Zegna</span>
    <span class="model ">White Dinner Jacket</span>
    <span class="price">$2,495</span>
    </a>
    
    </div>
    </div>
    </div>
    <div class="burn47 grid-item col-6 col-sm-6 col-md-4 col-xl-3">
    <div class="product-item black cold solid play holland ">
    <a href="/blazers/black-velvet-dinner-jacket/">
    <img src="/static/Blazers_stat/Row12_col1.webp" class="product-img" loading="lazy" alt="…">
    </a>
    <div class="tag text-center">
    <a href="/blazers/black-velvet-dinner-jacket/" class="no-touch details">
    <span class="brand ">RMsuits</span>
    <span class="model ">Black Velvet Dinner Jacket</span>
    <span class="price">$1,095</span>
    </a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <br>

    {% endblock %}
    
   <script 
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " 
   integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
   crossorigin="anonymous"    
   ></script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>